.form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}
.form-field{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.button2 {
  background-color: #6699ff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.button3 {
  background-color: #6699ff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
